$color-grey: rgb(86, 86, 86);
$color-border: rgb(186, 186, 186);
$color-blue: rgb(64, 192, 238);
$color-white: rgb(255,255,255);
$color-red: rgb(204,39,39);

$icons: (
    delete: "data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='#{$color-red}'%3E %3Cpath d='M444.852 66.908h-99.34V47.04c0-21.943-17.79-39.736-39.735-39.736h-99.34c-21.943 0-39.735 17.793-39.735 39.736v19.868h-99.34v19.868h20.47l19.888 377.49c0 21.943 17.792 39.735 39.736 39.735h218.546c21.944 0 39.736-17.79 39.736-39.735l19.538-377.49h19.577V66.91zM186.57 47.04c0-10.962 8.926-19.868 19.868-19.868h99.34c10.96 0 19.867 8.906 19.867 19.868v19.868H186.57V47.04zm199.338 416.196l-.04.505v.525c0 10.943-8.905 19.868-19.867 19.868H147.456c-10.942 0-19.868-8.925-19.868-19.868v-.524l-.02-.522L107.72 86.776h297.67l-19.482 376.46z'/%3E %3Cpath d='M246.173 126.51h19.868v317.886h-19.867zM206.884 443.757L186.55 126.493l-19.828 1.26 20.334 317.264M345.65 127.132l-19.83-1.24-20.043 317.884 19.83 1.24'/%3E %3C/g%3E %3C/svg%3E"
)